ul,li,ol,menu{
    list-style: none;
    color: currentColor;
}

a{
    text-decoration: none;
    color: currentColor;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
}