.container-large{
    width: 100vw;
}

header{
    background-color: rgb(197, 227, 227);
    border-radius: 5px;
    border: 1px solid black;
}

.row-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.col-30{
    width: 28%;
}

.col-70{
    width: 70%;
}

.info-header{
    display: flex;
    justify-content: flex-end;
}

.info-header > li {
    margin-right: 65px;
}